table {
    margin-bottom: 2rem;
}

table, td {
    border: 1px solid black;
    border-collapse: collapse;

}

/* border, border-collapse und border-spacing */

table#test01, table#test01 td, table#test01 th {
    border: 1px solid black;
    border-collapse: collapse;

}

table#test02, table#test02 td, table#test02 th {
    border: 1px solid black;
    border-spacing: 10px;
}

/* background-color, caption-side, empty-cells, width und table-layout */

#test03 {
    background-color: lavenderblush;
    border-collapse: separate;
    caption-side: bottom;
    empty-cells: hide;
    table-layout: fixed;
}

#test03, #test03 td, #test03 th {
    border: 1px solid black;
}

#test03 td, #test03 th {
    width: 130px;
}