#vordefiniert {
    width: 300px;
    height: 300px;
    background-color: coral;

}

#hex {
    height: 300px;
    width: 300px;
    background-color: #000;
}

#rgb {
    height:300px;
    width: 300px;
    background-color: rgb(33, 77, 99);
}

#rgba {
    height: 300px;
    width: 300px;
    background-color: rgba(94, 180, 199, 0.2);
}

.hintergrund {
    width: 400px;
    height: 400px;
    padding: 50px;
    box-sizing: border-box;
    background-color: rgb(12, 20, 29);
}

#hsl{
    width: 300px;
    height: 300px;
    background-color: hsl(167, 77%, 50%);
}

#hsla {
    width: 300px;
    height: 300px;
    background-color: hsla(0, 100%, 80%, 0.9);
}